
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
*{
    margin: 0;
    padding: 0;
}
.get-background{
    background-color: rgb(15,118,110);
    color: white;
}
.nav-item:hover{
    border-bottom: 1px solid grey;
}
strong{
    color: rgb(169,121,43);
}
.free{
    font-size: 20px;
}
.bttn{
    background-color: white;
    font-size: 16px;
    border-radius: 8px;
    border: 4px double rgb(213, 213, 213);
}
.bttn:hover{
    background-color: rgb(240, 240, 240);
}
.time{
    font-size: 30px;
}
.wish{
    font-size: 18px;
}
.learn,.build,.connect{
    font-size: 20px;
}
.curated,.worthy,.community{
    font-size: 16px;
}
.intermediate{
    width: 144px;
    height: 160px;
}
.inter{
    background-color: white;
    width: 224px;
    height:308px;
    border-radius: 10px;
}
.add{
    font-size: 20px;
}
a{
    border: none;
    text-decoration: none;
}
.main{
    background-color: rgb(243,244,246);
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.bttn-1{
    background-color: white;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid gray;
    
}
.success-1{
    font-size: 20px;
}
.now{
    background-color: rgb(15,118,110);
    color: white;

}
.now-1{
    background-color: white;
    font-size: 16px;
    border-radius: 8px;
    border: 4px double rgb(213, 213, 213);
}
.high{
    font-size: 14px;
}
.high{
    color: rgb(151,158,154);
}

li{
    list-style: none;
    color: rgb(151,158,154);
}
.us{
    color: black;
}
.border-bottom{
    color: rgb(151,158,154);
}
.reserved{
    font-size: 12px;
}
.sub-container{
    background-color: #e7e9eb ;
}
.rob{
    width: 48px;
    
    border-radius:50px;
}
.logo-text{
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
}
@media only screen and (max-width: 1025px){
    .logo-text{
        display: none;
    }
}
@media only screen and (max-width: 770px) {
    .nav-item,.hide{
        display: none;
    }
    .work{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
    }

}
.work-section{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(3);
    row-gap: 30px;
}
@media only screen and (max-width: 770px) {
    .work-section{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2,250px);
        grid-template-rows: repeat(4);
        row-gap: 30px;
    }
}
@media only screen and (max-width: 580px) {
    .work-section{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1,250px);
        grid-template-rows: repeat(5);
        row-gap: 30px;
    }
}
.pando-image-section{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,500px);
    grid-template-rows: repeat(2);
    row-gap: 30px;
}
@media only screen and (max-width: 1280px) {
    .pando-image-section{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1,300px);
        grid-template-rows: repeat(4);
        row-gap: 30px;
    }
}


